* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  overflow: hidden;
}

/* MOBILE*/
.mobile_version{
  visibility: hidden;
}
@media only screen and (max-width: 800px) {
  body{
    height: 100%;
    position: fixed;
    background-color: #fff;
    overflow: hidden;
  }
  header,section,footer {
    visibility: hidden;
  }
  .mobile_version{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 300px;
    visibility: visible;
  }

}

/* HEADER */

header {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  width: 100vw;
  height: 47px;
  z-index: 10;
}

header ul {
  text-transform: uppercase;
  font-size: large;
  font-style: #121212;
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
}

header li {
  display: block;
  float: left;
}

header li a {
  display: block;
  padding: 8px;
  color: #121212;
  font-weight: 700;
  left: 50%;
}

header li a:hover {
  transition-duration: 500ms;
  font-weight: 800;
  color: #121212;
}

header li a:not(:hover) {
  transition-duration: 500ms;
}

section {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

section.white_background {
  overflow: hidden;
}

section.dark_background {
  background-color: #121212;
}

section.dark_background .title,
section.dark_background .subtitle,
section.dark_background h2,
section.dark_background h3,
section.dark_background h4,
section.dark_background h5,
section.dark_background p {
  color: whitesmoke;
}

section.white_background .title,
section.white_background .subtitle,
section.white_background h2,
section.white_background h3,
section.white_background h4,
section.white_background h5,
section.white_background p {
  color: #121212;
}

section .subtitle,
h2,
h3,
h4,
h5,
p {
  text-align: left;
  padding-left: 20vw;
  padding-right: 20vw;
}

section .title {
  text-align: center;
  font-weight: 800;
  font-size: 80px;
}

section .subtitle {
  font-weight: 600;
  font-size: 30px;
}

section h3{
  font-size: 26px;
}

section h4{
  font-size: 24px;
}

section h5{
  font-size: 20px;
}

section p {
  font-weight: 400;
  font-size: 18px;
}


/* First Section */

.first_page p {
  font-size: x-large;
  text-align: center;
}

.first_page_title {
  position: relative;
  color: whitesmoke;
  font-weight: 900;
  font-size: 9vw !important;
  -webkit-text-stroke: 0.01em #121212;
  overflow: hidden;
}

.first_page:hover .first_page_title {
  -webkit-text-stroke: none;
  color: whitesmoke;
}

.first_page_title::after {
  content: attr(first_page_title);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 900;
  font-size: 9vw !important;
  -webkit-text-stroke: 0.01em whitesmoke;
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.first_page_video {
  width: 990px;
  height: 575px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 75%;
  opacity: 0;
  transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  margin: -287.2px 0 0 -495px;
  /* margin-top: -143,75px !important; */
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.first_page:hover .first_page_video {
  opacity: 1;
}

.first_page:hover .first_page_title::after {
  opacity: 1;
  z-index: 3;
}


/* Second Section*/

#presentation .subtitle {
  font-size: 45px;
}

#presentation p {
  font-size: larger;
}


/* Thrid Section */

.timeline {
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

.container {
  padding: 10px 40px;
  margin: initial;
  width: 30%;
  background-color: inherit;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #121212;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 20%;
}

.right {
  left: 50.4%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.content h2{
  padding: 0;
}

.content p {
  padding: 0;
}

/* Fourth section */
#culture_travel{
  display: flex;

}
.title_span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 90px;
  flex-direction: row;
  align-content: flex-start;
}

.title_span .title {
  position: absolute;
}

.title_span .title_hover {
  color: transparent !important;
  -webkit-text-stroke: 0.7px #000;
  z-index: 5;
}

.culture_content {
  display: flex;
  flex-direction: column;
}



.img_file_span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_black {
  position: absolute;
  z-index: 1;
}

.map_clear {
  position: relative;
  z-index: 5;
}

.text_span {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_span .text {
  position: absolute;
  z-index: 5;
}



#circle {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  background: whitesmoke;
  border: 15px solid #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  pointer-events: none;
  margin: -240px 0 0 -150px;

}

#culture_language:hover #circle {
  opacity: 1;
  z-index: 2;
}


/* Fourth Section*/
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container {
  column-count: 4;
  column-gap: 10px;
  max-width: fit-content;
}

.card {
  margin: 0 10px 25px 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  height: fit-content;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: fit-content;
  font-weight: 500;
}

.card-body h5{
  padding: 0;
  color: black !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;

}

.tag {
  pointer-events: none;
}

.tag-js {
  background-color: rgb(247, 223, 30) !important;
}

.tag-php {
  background-color: rgba(75, 86, 140, 1) !important;
  color: #fff !important;
}

.tag-sql {
  background-color: rgba(191, 74, 92, 1) !important;
  color: #fff !important;
}

.tag-css {
  background-color: rgba(0, 143, 209, 1) !important;
  color: #fff !important;
}

.tag-angular {
  background-color: rgba(214, 0, 46, 1) !important;
  color: #fff !important;
}

.tag-arduino {
  color: #fff !important;
  background-color: rgba(0, 146, 151, 1) !important;
}

.tag-vb {
  background-color: rgba(16, 59, 91, 1) !important;
  color: #fff !important;
}

.tag-java {
  background-color: rgba(225, 30, 35, 1) !important;
  color: #fff !important;
}

.tag-app {
  background-color: rgba(0, 0, 88, 1) !important;
  color: #fff !important;
}

.tag-aps {
  background-color: rgba(0, 29, 52, 1) !important;
  color: #fff !important;
}

.tag-py {
  background-color: rgba(247,223,122, 1) !important;
}

.card-body p {
  font-size: 13px;
  padding: 10px 0 0 0;
  color: #121212 !important;
}

.card_button_span {
  position: relative;
  justify-content: center;

}

.card_button {
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: 12px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 48px;
  letter-spacing: .25px;
  padding: 12px 24px;
  text-decoration: none;
}

.card_button:hover {
  transition-duration: 500ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.card_button:not(:hover) {
  transition-duration: 500ms;

}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding: 2rem 0 0 0;
}

.footer_title {
  margin-bottom: auto;
  color: #121212;
  text-align: center;
  font-weight: 800;
  font-size: 80px;
}

.btn_cv,
.btn_go_top {
  position: relative;
  display: inline-block;
  padding: 35px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
  color: #121212;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 1.2rem;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.btn_cv:hover,
.btn_go_top:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.go_top_btn_container {
  margin-top: 20px;
}

.text_sticky_bottom {
  margin-top: auto;
  align-self: flex-start;
}

.text_bottom {
  padding-left: 50px;
}